{# src/Fr/TicketsBundle/Ressources/views/Tickets/spool.html.twig #}

{% extends "FrTicketsBundle::layout.html.twig" %}

{% block frtickets_body %}

{#<p><a href="{{ path('fr_tickets_admin_open_tickets') }}">{{ 'My user ticket'|trans }}</a></p>#}
{#<p><a href="{{ path('fr_tickets_admin_close_tickets') }}">{{ 'My close user ticket'|trans }}</a></p>#}
{#<p><a href="{{ path('fr_tickets_admin_all_open_tickets') }}">{{ 'All open user ticket'|trans }}</a></p>#}
{#<p><a href="{{ path('fr_tickets_admin_all_close_tickets') }}">{{ 'All close user ticket'|trans }}</a></p>#}


{% endblock %}
