{# src/BI/BiodanzaBundle/Resources/views/Advert/contact.html.twig #}

{% extends "BIBiodanzaBundle::layout.html.twig" %}


{% block title %}
  Contact - {{ parent() }}
{% endblock %}

{% block bibiodanza_body %}
{# On vérifie qu'une image soit bien associée à l'annonce #}

{% if advert.image is not null %}
  <img 
  src="{{ asset(advert.image.webPath) }}"
  alt="{{ advert.image.alt }}">
{% endif %}

<h2>{{ advert.title }}</h2>
 {# <i>Par {{ advert.author }}, le {{ advert.date|date('d/m/Y') }}</i> #}

  <div class="well">
  <p>
    {{ advert.content }}
  </p>
  </div>

{# on affiche le lien :ajouter une annonce que si il a les droits  #}
          {% if is_granted('ROLE_AUTEUR') %}
  <p>
    <a href="{{ path('bi_biodanza_edit', {'id': advert.id}) }}" class="btn btn-default">
      <i class="glyphicon glyphicon-edit"></i>
      Modifier l'annonce
    </a>
    <a href="{{ path('bi_biodanza_delete', {'id': advert.id}) }}" class="btn btn-danger">
      <i class="glyphicon glyphicon-trash"></i>
      Supprimer l'annonce
    </a>
  </p>
  {% endif %}
{% endblock %}