{# src/Fr/ForumBundle/Resources/views/Categorie/delete.html.twig #}

{% extends "FrForumBundle::layout.html.twig" %}


{% block title %}
 {{ 'Delete a categorie'|trans }} - {{ parent() }}
{% endblock %}

{% block frforum_body %}

  <h2>{{ 'Delete a categorie'|trans }}</h2>

  <p>
    {{ 'Delete'|trans }} "{{ categorie.title }}" ?
  </p>

  {# On met l'id de l'annonce dans la route de l'action du formulaire #}
  <form action="{{ path('fr_forum_categorie_delete', {'id': categorie.id}) }}" method="post">
    <a href="{{ path('fr_forum_categorie_view', {'id': categorie.id}) }}" class="btn btn-default">
      <i class="glyphicon glyphicon-chevron-left"></i>
      {{ 'Back'|trans }}
    </a>
    {# Ici j'ai écrit le bouton de soumission à la main #}
    <input type="submit" value="Supprimer" class="btn btn-danger" />
    {# Ceci va générer le champ CSRF #}
    {{ form_rest(form) }}
  </form>

{% endblock %}
